@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Noto+Serif+KR:400,700');

/* intro */


#intro{
    width:100%;
    height:100vh;
    position: relative;
}

.typed-cursor {
    
}
.typed-wrap{
    position: absolute;
    left:50%;
    top:20%;
    transform: translateX(-50%);
    width:300px;
}
#typed{
    font-family: Noto Serif KR;
    
}
#typed h1{
    width: auto;
    display: inline;
}
#typed p:first-of-type{
    font-size:13px;
    width: auto;
    display: inline;
}
#typed p:last-of-type{
    line-height:1.5;
    width: auto;
    display: inline;
}

.door{
    position: absolute;
    bottom:20%;
    left:48.6%;
}
.doorWrap{
    position: relative;
    display: block;
}
.doorWrap:hover i:last-child{
    opacity:1;
}
.doorWrap:hover i:first-child{
    opacity:0;
}
.doorWrap>i{
    position: absolute;
    transition:all 1.5s;
    font-size:30px;
}
.doorWrap i:last-child{
    opacity:0; 
}

/* background and lights */

#background{
    width:100%;
    height:100vh;
    background:url(../images/alex-gorham_forest_comp.jpg) no-repeat center;
    background-size:cover;
    position: relative;
}   

#background .light{
    position: absolute;
    width: 100%;
    height:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display:none;
}

.light1{
    background-image: url(../images/forest_light1.png);
    opacity:0;

    animation:light1 1.5s 1s alternate infinite;
}
@keyframes light1{
    0%{opacity:0.5}
    50%{opacity:0.7}
    100%{opacity:1}
}
.light2{
    background-image: url(../images/forest_light2.png);
    opacity:0;

    animation: light2 1.5s 1.3s alternate-reverse infinite;
}
@keyframes light2{
    0%{opacity:1}
    50%{opacity:0.5}
    100%{opacity:0.2}
}
.light3{
    background-image: url(../images/forest_light3.png);
    opacity:0;

    animation: light3 1.5s 2s alternate-reverse infinite;
}
@keyframes light3{
    0%{opacity:0.3}
    50%{opacity:0.4}
    100%{opacity:0.8}
}
.light4{
    background-image: url(../images/forest_light4.png);
    opacity:0;

    animation: light4 1.5s 2.8s alternate-reverse infinite;
}
@keyframes light4{
    0%{opacity:0.2}
    50%{opacity:0.3}
    100%{opacity:1}
}
.light5{
    background-image: url(../images/forest_light5.png);
    opacity:0;

    animation: light5 1s 3.3s alternate-reverse infinite;
}
@keyframes light5{
    0%{opacity:0.5}
    50%{opacity:0.7}
    100%{opacity:1}
}
.light6{
    background-image: url(../images/forest_light6.png);
    opacity:0;

    animation: light6 1s 4s alternate-reverse infinite;
}
@keyframes light6{
    0%{opacity:0.5}
    50%{opacity:0.7}
    100%{opacity:0.8}
}
.light7{
    background-image: url(../images/forest_light7.png);
    opacity:0;

    animation: light7 4.8s alternate-reverse infinite;
}
@keyframes light7{
    0%{opacity:0.5}
    50%{opacity:0.7}
    100%{opacity:0.8}
}
.light8{
    background-image: url(../images/forest_light8.png);
    opacity:0;

    animation: light8 1s 5s alternate-reverse infinite;
}
@keyframes light8{
    0%{opacity:0.5}
    50%{opacity:0.7}
    100%{opacity:0.8}
}
/* header */

header{
    position: fixed;
    top:50px;
    right:80px;
    z-index: 2;
}
nav{}
.menu{}
.menu li{
    float:left;
    color:#fff;
    margin-left:30px;
    font-family: Gloria Hallelujah;
    font-weight: bold;
    font-size:20px;
    /* color:#e1b12c; */
    /* color:#ecf0f1; */
    color:#ffa801;
    cursor: pointer;
    position: relative;
    /* text-shadow: 1px 1px  #000; */
}
.menu li:first-child{
    width:37.5px;
    height:30px;
}
.menu li a{}
.menu li .fa-check{
    position: absolute;
    left:50%;
    transform:translateX(-50%) scale(0.5);
    top:-15px;
    font-size:16px;
    color:#ff6b6b;
    opacity:0;
    transition:all 0.3s;
}
.menu li:hover .fa-check{
    top:-7px;
    transform: translateX(-50%) scale(1);
    opacity:1;
}

/* submenu */

.submenu{
    position: absolute;
    width:40%;
    height:0%;
    z-index:1;
    right:0;
    overflow: hidden;
    /* display:none; */
    transition:all 1s;
}
.submenu.on{
    height:100%;
}
.submenu ul{
    position:relative;
    width:100%;
    height:100%;
    background:rgba(245, 246, 250, 0.9);
    padding-top:130px;
    box-sizing: border-box;
    border-top:30px solid #130f40;
    overflow: hidden;
}
.submenu ul::before{
    position: absolute;
    right:0;
    top:80px;
    content:'';
    display: block;
    width:100%;
    height:1px;
    z-index: 3;
    background:#fab1a0;
}
.submenu ul li{
    width:100%;
    padding-top:40px;
    border-bottom:1px dashed #999;
    position: relative;
}
.submenu ul li:first-child{
    border:none;
    padding-top:0;
}
.submenu ul li p{
    position: absolute;
    bottom:3px;
    left:30px;
    font-family: Noto Serif KR;
}

.notice{
    display:none;
}
.notice.on{
    display:block;
}
.credits{
    display:none;
}
.credits.on{
    display: block;
}
.credits a{
    font-weight: bold;
}
.credits .gloria{
    font-family: Gloria Hallelujah;
}

/* tooltip */

.tooltip{
    display: inline-block;
    position: relative;
    z-index:999;
}

.tooltip-item{
    font-weight:bold;
    cursor: pointer;
    display: inline-block;
}

.tooltip-itme::after{
    content:'';
    position: absolute;
    width:200px;
    height:30px;
    bottom:100%;
    left:50%;
    transform: translateX(-50%);
    pointer-events: none;
}

.tooltip:hover .tooltip-item::after{
    pointer-events: auto;
}

.tooltip-content{
    position: absolute;
    z-index: 9999;
    width:300px;
    left:0;
    margin:0 0 20px -275px;
    bottom:100%;
    text-align: justify;
    font-size:13px;
    line-height: 1.4;
    box-shadow: -5px -5px 15px rgba(48,54,61,0.2);
    background:#F8EFBA;
    opacity:0;
    padding:10px;
    box-sizing: border-box;
    pointer-events: none;
}

.credits .tooltip-content{
    width:80px;
    margin:0 0 20px -30px;
    padding:10px 10px 10px 20px;
}

.tooltip-effect .tooltip-content{
    transform-origin:50% 100%;
    transform: scale3d(0.7,0.3,1) translateX(50%);
    transition:opacity 0.2s, transform 0.2s;
}

.tooltip:hover .tooltip-content{
    pointer-events: auto;
    opacity: 1;
    transform:translate3d(0,0,0) rotate3d(0,0,0,0) translateX(50%);
}

.tooltip-content::after{
    content:'';
    top:100%;
    left:50%;
    border:solid transparent;
    height:0;
    width:0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color:#F8EFBA;
    border-width:10px;
    margin-left:-10px;
}

.tooltip-image{
    position: absolute;
    display: block;
    float:left;
    width:50px;
    top:0;  
}
.tooltip-text{
    display:block;
    padding:10px 10px 10px 60px;
    box-sizing: border-box;
    font-family: Arial;
    font-weight: normal;
}

.cover{
    position: static;
    width:40px;
}